<!DOCTYPE>
<hmtl>
<head>
    <title>Test-hemsida</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>

<header>
    <div class="navbar-header"> 
    </div>
    
    <div class="container-fluid">    
    </div>
</header>

<br />
<br />
    
<body>
    
    <div class="container-fluid" style="min-height:100%; max-width: 1200px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                {% endfor %}
           {% endif %}
        {% endwith %}
    
         <div style="text-align: center">
         
             <img id="video_frame" src="" />
             
             <br />
             <br />
             
             <button type="button" id="up_button" class="btn btn-default" style="width: 90px; height: 40px">Up</button>
             <br />
             
             <div class="btn-group" role="group">
                <button type="button" id="left_button" class="btn btn-default" style="width: 90px; height: 40px">Left</button>
                <button type="button" id="stop_button" class="btn btn-danger" style="width: 90px; height: 40px">Stop</button>
                <button type="button" id="right_button" class="btn btn-default" style="width: 90px; height: 40px">Right</button>
            </div>
            <br />

            <button type="button" id="down_button" class="btn btn-default" style="width: 90px; height: 40">Down</button>
            <br />
            <br />
            
            <div class="btn-group" role="group">
                <button type="button" id="manual_button" class="btn btn-default" style="width: 90px; height: 40px">Manual</button>
                <button type="button" id="auto_button" class="btn btn-default" style="width: 90px; height: 40px">Auto</button>
            </div>
            <br />
            <br /> 
  
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="New Kp value" id="Kp_value" />
                </div>
                
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="New Kd value" id="Kd_value" />
                </div>
            </div>
            <br />
            
            <button type="button" id="parameters_button" class="btn btn-default" style="width: 150px; height: 40px">Send parameters</button>          
        </div> 
    </div>
    
    <!-- Script (verkar spela roll i vilken ordning dessa placeras) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    
    <script type="text/javascript" charset="utf-8">
        var previous_data = 0;
        
        function connect_handler()
        {
            socket.emit('my event', {data: 'I\'m connected!'});
        }
        
        // Buttons:
        function up_button_press_handler() 
        {
            socket.emit("button_event", {data: "1"});
        }
        function up_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function down_button_press_handler() 
        {
            socket.emit("button_event", {data: "2"});
        }
        function down_button_release_handler() 
        {
           socket.emit("button_event", {data: "0"});
        }
        
        function right_button_press_handler() 
        {
            socket.emit("button_event", {data: "3"});
        }
        function right_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function left_button_press_handler() 
        {
            socket.emit("button_event", {data: "4"});
        }
        function left_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function stop_button_press_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function manual_button_press_handler() 
        {
            socket.emit("button_event", {data: "5"});
        }
        
        function auto_button_press_handler() 
        {
            socket.emit("button_event", {data: "6"});
        }
        
        function parameters_button_press_handler() 
        {
            var Kp_input = document.getElementById("Kp_value").value
            var Kd_input = document.getElementById("Kd_value").value
            console.log(Kp_input)
            console.log(Kd_input)
            socket.emit("parameters_event", {Kp: Kp_input, Kd: Kd_input});
        }
        
        // Keyboard:    
        function key_press_handler(event) 
        {
            var pressed_key_utf8 = event.keyCode;
            switch (pressed_key_utf8) 
            {
                case 87:    // W key (up)
                case 119:   // w key (up)
                {
                    if (previous_data !== 1) // Only send data if it is new data (only send once per key press)
                    {
                        socket.emit("key_event", {data: "1"});
                        previous_data = 1;
                    } 
                    break;
                }
                
                case 83:  // S key (down)
                case 115:  // s key (down)
                {
                    if (previous_data !== 2)
                    {
                        socket.emit("key_event", {data: "2"});
                        previous_data = 2;
                    } 
                    break;
                }
                
                case 68:  // D key (right)
                case 100:  // d key (right)
                {
                    if (previous_data !== 3)
                    {
                        socket.emit("key_event", {data: "3"});
                        previous_data = 3;
                    } 
                    break;
                }
                
                case 65:  // A key (left)
                case 97:  // a key (left)
                {
                    if (previous_data !== 4)
                    {
                        socket.emit("key_event", {data: "4"});
                        previous_data = 4;
                    } 
                    break;
                }
 
                default:
                {
                    break;
                }
            }           
        }
        
        function key_up_handler(event) 
        {
            var released_key_utf8 = event.keyCode;
            switch (released_key_utf8) 
            {
                case 87:    // W key (up)
                case 119:   // w key (up)
                case 83:    // S key (down)
                case 115:   // s key (down)
                case 68:    // D key (right)
                case 100:   // d key (right)
                case 65:    // A key (left)
                case 97:    // a key (left)
                {
                    socket.emit("key_event", {data: "0"});
                    previous_data = 0;
                    break;
                }
 
                default:
                {
                   break; 
                }       
            }                
        }
        
        function video_handler(sent_dict)
        {
            document.getElementById("video_frame").src = "static/images/image.jpg?" + new Date().getTime(); // Break the cache (so it actually gets the updated image, and don't use the one stored in cache)
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', connect_handler);
        
        socket.on("video_test", video_handler);
        
        // Buttons:
        document.getElementById("up_button").addEventListener("mousedown", up_button_press_handler);   
        document.getElementById("up_button").addEventListener("mouseup", up_button_release_handler);

        document.getElementById("down_button").addEventListener("mousedown", down_button_press_handler);   
        document.getElementById("down_button").addEventListener("mouseup", down_button_release_handler);  
        
        document.getElementById("right_button").addEventListener("mousedown", right_button_press_handler);   
        document.getElementById("right_button").addEventListener("mouseup", right_button_release_handler);  
        
        document.getElementById("left_button").addEventListener("mousedown", left_button_press_handler);   
        document.getElementById("left_button").addEventListener("mouseup", left_button_release_handler); 
        
        document.getElementById("stop_button").addEventListener("mousedown", stop_button_press_handler);  
        
        document.getElementById("manual_button").addEventListener("mousedown", manual_button_press_handler); 
        document.getElementById("auto_button").addEventListener("mousedown", auto_button_press_handler);
        
        document.getElementById("parameters_button").addEventListener("mousedown", parameters_button_press_handler);
        
        // Keyboard:
        document.onkeypress = key_press_handler;
        document.onkeyup = key_up_handler;     
    </script>
</body>

</html>