<!DOCTYPE>
<hmtl>
<head>
    <title>Test-hemsida</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>

<header>
    <div class="navbar-header"> 
    </div>
    
    <div class="container-fluid">    
    </div>
</header>

<br />
<br />
    
<body>
    
    <div class="container-fluid" style="min-height:100%; max-width: 1500px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                {% endfor %}
           {% endif %}
        {% endwith %}
    
         <div style="text-align: center">
         
             <img id="video_frame" src="" />
             
             <br />
             <br />
             
             <button type="button" id="up_button" class="btn btn-default" style="width: 90px; height: 40px">Up</button>
             <br />
             
             <div class="btn-group" role="group">
                <button type="button" id="left_button" class="btn btn-default" style="width: 90px; height: 40px">Left</button>
                <button type="button" id="stop_button" class="btn btn-danger" style="width: 90px; height: 40px">Stop</button>
                <button type="button" id="right_button" class="btn btn-default" style="width: 90px; height: 40px">Right</button>
            </div>
            <br />

            <button type="button" id="down_button" class="btn btn-default" style="width: 90px; height: 40">Down</button>
            <br />
            <br />
            
            <div class="btn-group" role="group">
                <button type="button" id="manual_button" class="btn btn-default" style="width: 90px; height: 40px">Manual</button>
                <button type="button" id="auto_button" class="btn btn-default" style="width: 90px; height: 40px">Auto</button>
            </div>
            <br />
            <br /> 
  
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="New Kp value" id="Kp_value" />
                </div>
                
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="New Kd value" id="Kd_value" />
                </div>
            </div>
            <br />
            
            <button type="button" id="parameters_button" class="btn btn-default" style="width: 150px; height: 40px">Send parameters</button>          
            </br>
            </br>
            
            <div class="row">
                <div class="col-md-4"> <!-- md: three cols for desktop, collapse to one col for tabled and phone  -->
                    <div id="container_IR_0" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_IR_1" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_IR_2" style="height: 300px; width:100%">
                    </div>
                </div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-md-4">
                    <div id="container_IR_3" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_IR_4" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_IR_Yaw_left" style="height: 300px; width:100%">
                    </div>
                </div>
                
            </div>
            <br />
            
            <div class="row">      
                <div class="col-md-4">
                    <div id="container_IR_Yaw_right" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_Yaw" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div id="container_p_part" style="height: 300px; width:100%">
                    </div>
                </div>
                
            </div>
            <br />
            
            <div class="row">
                <div class="col-md-4">
                    <div id="container_alpha" style="height: 300px; width:100%">
                    </div>
                </div>
                
                <div class="col-md-4">
                </div>
                
                <div class="col-md-4">
                </div>
                
            </div>
            <br />
          
            <p>Kp: <p id="Kp"></p> </p>
            <p>Kd: <p id="Kd"></p> </p>
            <p>AUTO_STATE: <p id="AUTO_STATE"></p> </p>
            <p>manual_state: <p id="manual_state"></p> </p>
            <p>mode: <p id="mode"></p> </p>
            
        </div> 
    </div>
    
    <!-- Script (verkar spela roll i vilken ordning dessa placeras) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
    
    
    
    <script type="text/javascript" charset="utf-8">
        var previous_data = 0;
        var IR_0_data = 0;
        var IR_1_data = 0;
        var IR_2_data = 0;
        var IR_3_data = 0;
        var IR_4_data = 0;
        var IR_Yaw_right_data = 0;
        var IR_Yaw_left_data = 0;
        var Yaw_data = 0;
        var p_part_data = 0;
        var alpha_data = 0;
        
        window.onload = function () 
        {
            var updateInterval = 100; // 10 Hz
        
            var dps_IR_0 = [];
            var dps_IR_1 = [];
            var dps_IR_2 = [];
            var dps_IR_3 = [];
            var dps_IR_4 = [];
            var dps_IR_Yaw_right = [];
            var dps_IR_Yaw_left = [];
            var dps_Yaw = [];
            var dps_p_part = [];
            var dps_alpha = [];
            
            var xval_IR_0 = 0;
            var xval_IR_1 = 0;
            var xval_IR_2 = 0;
            var xval_IR_3 = 0;
            var xval_IR_4 = 0;
            var xval_IR_Yaw_right = 0;
            var xval_IR_Yaw_left = 0;
            var xval_Yaw = 0;
            var xval_p_part = 0;
            var xval_alpha = 0;

            var chart_IR_0 = new CanvasJS.Chart("container_IR_0", {title: {text: "IR_0"}, data: [{type: "line", dataPoints: dps_IR_0}]});
            var chart_IR_1 = new CanvasJS.Chart("container_IR_1", {title: {text: "IR_1"}, data: [{type: "line", dataPoints: dps_IR_1}]});
            var chart_IR_2 = new CanvasJS.Chart("container_IR_2", {title: {text: "IR_2"}, data: [{type: "line", dataPoints: dps_IR_2}]});
            var chart_IR_3 = new CanvasJS.Chart("container_IR_3", {title: {text: "IR_3"}, data: [{type: "line", dataPoints: dps_IR_3}]});
            var chart_IR_4 = new CanvasJS.Chart("container_IR_4", {title: {text: "IR_4"}, data: [{type: "line", dataPoints: dps_IR_4}]});
            var chart_IR_Yaw_right = new CanvasJS.Chart("container_IR_Yaw_right", {title: {text: "IR_Yaw_right"}, data: [{type: "line", dataPoints: dps_IR_Yaw_right}]});
            var chart_IR_Yaw_left = new CanvasJS.Chart("container_IR_Yaw_left", {title: {text: "IR_Yaw_left"}, data: [{type: "line", dataPoints: dps_IR_Yaw_left}]});
            var chart_Yaw = new CanvasJS.Chart("container_Yaw", {title: {text: "Yaw"}, data: [{type: "line", dataPoints: dps_Yaw}]});
            var chart_p_part = new CanvasJS.Chart("container_p_part", {title: {text: "p_part"}, data: [{type: "line", dataPoints: dps_p_part}]});
            var chart_alpha = new CanvasJS.Chart("container_alpha", {title: {text: "alpha"}, data: [{type: "line", dataPoints: dps_alpha}]});
            
            var update_chart_IR_0 = function () 
            {   
				dps_IR_0.push({x: xval_IR_0, y: IR_0_data});
				xval_IR_0++;
                if (dps_IR_0.length > 100)
                {
                    dps_IR_0.shift(); // remove the first element if the array has gotten to big				
                }
                chart_IR_0.render();		
            };
            var update_chart_IR_1 = function () 
            {   
				dps_IR_1.push({x: xval_IR_1, y: IR_1_data});
				xval_IR_1++;
                if (dps_IR_1.length > 100)
                {
                    dps_IR_1.shift();				
                }
                chart_IR_1.render();		
            };
            var update_chart_IR_2 = function () 
            {   
				dps_IR_2.push({x: xval_IR_2, y: IR_2_data});
				xval_IR_2++;
                if (dps_IR_2.length > 100)
                {
                    dps_IR_2.shift();				
                }
                chart_IR_2.render();		
            };
            var update_chart_IR_3 = function () 
            {   
				dps_IR_3.push({x: xval_IR_3, y: IR_3_data});
				xval_IR_3++;
                if (dps_IR_3.length > 100)
                {
                    dps_IR_3.shift();				
                }
                chart_IR_3.render();		
            };
            var update_chart_IR_4 = function () 
            {   
				dps_IR_4.push({x: xval_IR_4, y: IR_4_data});
				xval_IR_4++;
                if (dps_IR_4.length > 100)
                {
                    dps_IR_4.shift();				
                }
                chart_IR_4.render();		
            };
            var update_chart_IR_Yaw_right = function () 
            {   
				dps_IR_Yaw_right.push({x: xval_IR_Yaw_right, y: IR_Yaw_right_data});
				xval_IR_Yaw_right++;
                if (dps_IR_Yaw_right.length > 100)
                {
                    dps_IR_Yaw_right.shift();				
                }
                chart_IR_Yaw_right.render();		
            };
            var update_chart_IR_Yaw_left = function () 
            {   
				dps_IR_Yaw_left.push({x: xval_IR_Yaw_left, y: IR_Yaw_left_data});
				xval_IR_Yaw_left++;
                if (dps_IR_Yaw_left.length > 100)
                {
                    dps_IR_Yaw_left.shift();				
                }
                chart_IR_Yaw_left.render();		
            };
            var update_chart_Yaw = function () 
            {   
				dps_Yaw.push({x: xval_Yaw, y: Yaw_data});
				xval_Yaw++;
                if (dps_Yaw.length > 100)
                {
                    dps_Yaw.shift();				
                }
                chart_Yaw.render();		
            };
            var update_chart_p_part = function () 
            {   
				dps_p_part.push({x: xval_p_part, y: p_part_data});
				xval_p_part++;
                if (dps_p_part.length > 100)
                {
                    dps_p_part.shift();				
                }
                chart_p_part.render();		
            };
            var update_chart_alpha = function () 
            {   
				dps_alpha.push({x: xval_alpha, y: alpha_data});
				xval_alpha++;
                if (dps_alpha.length > 100)
                {
                    dps_alpha.shift();				
                }
                chart_alpha.render();		
            };

            // generates first set of dataPoints
            update_chart_IR_0(); 
            update_chart_IR_1(); 
            update_chart_IR_2();
            update_chart_IR_3();
            update_chart_IR_4();
            update_chart_IR_Yaw_right();
            update_chart_IR_Yaw_left();
            update_chart_Yaw();
            update_chart_p_part();
            update_chart_alpha();


            // update chart after specified time. 
            setInterval(update_chart_IR_0, updateInterval); 
            setInterval(update_chart_IR_1, updateInterval);
            setInterval(update_chart_IR_2, updateInterval); 
            setInterval(update_chart_IR_3, updateInterval);
            setInterval(update_chart_IR_4, updateInterval);
            setInterval(update_chart_IR_Yaw_right, updateInterval);
            setInterval(update_chart_IR_Yaw_left, updateInterval);
            setInterval(update_chart_Yaw, updateInterval);
            setInterval(update_chart_p_part, updateInterval);
            setInterval(update_chart_alpha, updateInterval);                
        }
        
        function connect_handler()
        {
            socket.emit('my event', {data: 'I\'m connected!'});
        }
        
        // Buttons:
        function up_button_press_handler() 
        {
            socket.emit("button_event", {data: "1"});
        }
        function up_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function down_button_press_handler() 
        {
            socket.emit("button_event", {data: "2"});
        }
        function down_button_release_handler() 
        {
           socket.emit("button_event", {data: "0"});
        }
        
        function right_button_press_handler() 
        {
            socket.emit("button_event", {data: "3"});
        }
        function right_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function left_button_press_handler() 
        {
            socket.emit("button_event", {data: "4"});
        }
        function left_button_release_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function stop_button_press_handler() 
        {
            socket.emit("button_event", {data: "0"});
        }
        
        function manual_button_press_handler() 
        {
            socket.emit("button_event", {data: "5"});
        }
        
        function auto_button_press_handler() 
        {
            socket.emit("button_event", {data: "6"});
        }
        
        function parameters_button_press_handler() 
        {
            var Kp_input = document.getElementById("Kp_value").value
            var Kd_input = document.getElementById("Kd_value").value
            console.log(Kp_input)
            console.log(Kd_input)
            socket.emit("parameters_event", {Kp: Kp_input, Kd: Kd_input});
        }
        
        // Keyboard:    
        function key_press_handler(event) 
        {
            var pressed_key_utf8 = event.keyCode;
            switch (pressed_key_utf8) 
            {
                case 87:    // W key (up)
                case 119:   // w key (up)
                {
                    if (previous_data !== 1) // Only send data if it is new data (only send once per key press)
                    {
                        socket.emit("key_event", {data: "1"});
                        previous_data = 1;
                    } 
                    break;
                }
                
                case 83:  // S key (down)
                case 115:  // s key (down)
                {
                    if (previous_data !== 2)
                    {
                        socket.emit("key_event", {data: "2"});
                        previous_data = 2;
                    } 
                    break;
                }
                
                case 68:  // D key (right)
                case 100:  // d key (right)
                {
                    if (previous_data !== 3)
                    {
                        socket.emit("key_event", {data: "3"});
                        previous_data = 3;
                    } 
                    break;
                }
                
                case 65:  // A key (left)
                case 97:  // a key (left)
                {
                    if (previous_data !== 4)
                    {
                        socket.emit("key_event", {data: "4"});
                        previous_data = 4;
                    } 
                    break;
                }
 
                default:
                {
                    break;
                }
            }           
        }
        
        function key_up_handler(event) 
        {
            var released_key_utf8 = event.keyCode;
            switch (released_key_utf8) 
            {
                case 87:    // W key (up)
                case 119:   // w key (up)
                case 83:    // S key (down)
                case 115:   // s key (down)
                case 68:    // D key (right)
                case 100:   // d key (right)
                case 65:    // A key (left)
                case 97:    // a key (left)
                {
                    socket.emit("key_event", {data: "0"});
                    previous_data = 0;
                    break;
                }
 
                default:
                {
                   break; 
                }       
            }                
        }
        
        function video_handler(sent_dict)
        {
            document.getElementById("video_frame").src = "static/images/image.jpg?" + new Date().getTime(); // Break the cache (so it actually gets the updated image, and don't use the one stored in cache)
            
            IR_0_data = sent_dict["IR_0"];
            IR_1_data = sent_dict["IR_1"];
            IR_2_data = sent_dict["IR_2"];
            IR_3_data = sent_dict["IR_3"];
            IR_4_data = sent_dict["IR_4"];
            IR_Yaw_right_data = sent_dict["IR_Yaw_right"];
            IR_Yaw_left_data = sent_dict["IR_Yaw_left"];
            Yaw_data = sent_dict["Yaw"];
            p_part_data = sent_dict["p_part"];
            alpha_data = sent_dict["alpha"];

            document.getElementById("Kp").innerHTML = sent_dict["Kp"];
            document.getElementById("Kd").innerHTML = sent_dict["Kd"];
            document.getElementById("AUTO_STATE").innerHTML = sent_dict["AUTO_STATE"];
            document.getElementById("manual_state").innerHTML = sent_dict["manual_state"];
            document.getElementById("mode").innerHTML = sent_dict["mode"];
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', connect_handler);
        
        socket.on("video_test", video_handler);
        
        // Buttons:
        document.getElementById("up_button").addEventListener("mousedown", up_button_press_handler);   
        document.getElementById("up_button").addEventListener("mouseup", up_button_release_handler);

        document.getElementById("down_button").addEventListener("mousedown", down_button_press_handler);   
        document.getElementById("down_button").addEventListener("mouseup", down_button_release_handler);  
        
        document.getElementById("right_button").addEventListener("mousedown", right_button_press_handler);   
        document.getElementById("right_button").addEventListener("mouseup", right_button_release_handler);  
        
        document.getElementById("left_button").addEventListener("mousedown", left_button_press_handler);   
        document.getElementById("left_button").addEventListener("mouseup", left_button_release_handler); 
        
        document.getElementById("stop_button").addEventListener("mousedown", stop_button_press_handler);  
        
        document.getElementById("manual_button").addEventListener("mousedown", manual_button_press_handler); 
        document.getElementById("auto_button").addEventListener("mousedown", auto_button_press_handler);
        
        document.getElementById("parameters_button").addEventListener("mousedown", parameters_button_press_handler);
        
        // Keyboard:
        document.onkeypress = key_press_handler;
        document.onkeyup = key_up_handler;     
    </script>
</body>

</html>