<!DOCTYPE>
<hmtl>
<head>
    <title>Test-hemsida</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>

<header>
    <div class="navbar-header"> 
    </div>
    
    <div class="container-fluid">    
    </div>
</header>

<br />
<br />
    
<body>
    
    <div class="container-fluid" style="min-height:100%; max-width: 1200px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                {% endfor %}
           {% endif %}
        {% endwith %}
    
         <div style="text-align: center">
         
            <img id="video_frame_ph" src="" style="width: 340px; height: 240px" />
            <br />
            <br />
             
             <button type="button" id="up_button_ph" class="btn btn-default" style="width: 90px; height: 40px">Up</button>
             <br />
             
             <div class="btn-group" role="group">
                <button type="button" id="left_button_ph" class="btn btn-default" style="width: 90px; height: 40px">Left</button>
                <button type="button" id="stop_button_ph" class="btn btn-danger" style="width: 90px; height: 40px">Stop</button>
                <button type="button" id="right_button_ph" class="btn btn-default" style="width: 90px; height: 40px">Right</button>
            </div>
            <br />

            <button type="button" id="down_button_ph" class="btn btn-default" style="width: 90px; height: 40">Down</button>
            <br />
            <br />
            
            <div class="btn-group" role="group">
                <button type="button" id="manual_button_ph" class="btn btn-default" style="width: 90px; height: 40px">Manual</button>
                <button type="button" id="auto_button_ph" class="btn btn-default" style="width: 90px; height: 40px">Auto</button>
            </div>
            <br />
            
        </div> 
    </div>
    
    <!-- Script (verkar spela roll i vilken ordning dessa placeras) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    
    <script type="text/javascript" charset="utf-8">
        function connect_handler()
        {
            socket.emit('my event', {data: 'I\'m connected!'});
        }
        
        function up_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "1"});
        }
        function up_button_release_handler_ph() 
        {
            socket.emit("touch_event", {data: "0"});
        }
        
        function down_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "2"});
        }
        function down_button_release_handler_ph() 
        {
            socket.emit("touch_event", {data: "0"});
        }
        
        function right_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "3"});
        }
        function right_button_release_handler_ph() 
        {
            socket.emit("touch_event", {data: "0"});
        }
        
        function left_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "4"});
        }
        function left_button_release_handler_ph() 
        {
            socket.emit("touch_event", {data: "0"});
        }
        
        function stop_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "0"});
        }
        
        function manual_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "5"});
        }
        
        function auto_button_press_handler_ph() 
        {
            socket.emit("touch_event", {data: "6"});
        }
        
        function video_handler(sent_dict)
        {
            document.getElementById("video_frame_ph").src = "static/images/image.jpg?" + new Date().getTime(); // Break the cache (so it actually gets the updated image, and don't use the one stored in cache)
        }
        
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', connect_handler);
        
        socket.on("video_test", video_handler);
        
        document.getElementById("up_button_ph").addEventListener("touchstart", up_button_press_handler_ph);   
        document.getElementById("up_button_ph").addEventListener("touchend", up_button_release_handler_ph);

        document.getElementById("down_button_ph").addEventListener("touchstart", down_button_press_handler_ph);   
        document.getElementById("down_button_ph").addEventListener("touchend", down_button_release_handler_ph);  
        
        document.getElementById("right_button_ph").addEventListener("touchstart", right_button_press_handler_ph);   
        document.getElementById("right_button_ph").addEventListener("touchend", right_button_release_handler_ph);  
        
        document.getElementById("left_button_ph").addEventListener("touchstart", left_button_press_handler_ph);   
        document.getElementById("left_button_ph").addEventListener("touchend", left_button_release_handler_ph);

        document.getElementById("stop_button_ph").addEventListener("touchstart", stop_button_press_handler_ph);

        document.getElementById("manual_button_ph").addEventListener("touchstart", manual_button_press_handler_ph);
        document.getElementById("auto_button_ph").addEventListener("touchstart", auto_button_press_handler_ph);         
    </script>
</body>

</html>