{% extends "header.html" %}

{% block body %}
 
<form name="search_form" action="/search_result/" method="post">
    <fieldset class="form-group">
        
        <div class="row">
            <div class="col-xs-6">
                <label for="logger_select">Logger:</label> 
                <select multiple class="form-control" name="logger_select">
                    {% for element in loggers %}
                    <option value={{ element[0] }}>{{ element[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-xs-6">
                <label for="VIN_select">VIN:</label> 
                <select multiple class="form-control" name="VIN_select">
                    {% for element in VINs %}
                    <option value={{ element[0] }}>{{ element[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>    
        <br />
        
        <label for="length_row">Distance:</label> 
        <div class="row" name="distance_row">
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Lower limit (km)" name="distance_lower" />
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Upper limit (km)" name="distance_upper" />
            </div>
        </div>
        <br />
        
        <label for="length_row">Duration:</label> 
        <div class="row" name="duration_row">
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Lower limit (min)" name="duration_lower" />
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Upper limit (min)" name="duration_upper" />
            </div>
        </div>
        <br />
        
        <label for="date_row">Date:</label>
        <div class="row" name="date_row">
            <div class="col-xs-6">
                <input type="text" class="form-control" name="start_date" placeholder="Start date" onfocus="this.type='date'" onblur="this.type='text'" />
            </div>
            
            <div class="col-xs-6">
                <input type="text" class="form-control" name="end_date" placeholder="End date" onfocus="this.type='date'" onblur="this.type='text'" />
            </div>
        </div>
        <br />
        
        <label for="OBD_row">OBD DTCs:</label> 
        <div class="row" name="OBD_row">
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Lower limit (number of)" name="OBD_lower" />
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Upper limit (number of)" name="OBD_upper" />
            </div>
        </div>
        <br />
        
        <label for="UDS_row">UDS DTCs:</label> 
        <div class="row" name="UDS_row">
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Lower limit (number of)" name="UDS_lower" />
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Upper limit (number of)" name="UDS_upper" />
            </div>
        </div>
        <br />
        
        <div class="row">
            <div class="col-xs-12">
                <label for="OBD_select">OBD DTCs:</label> 
                <select multiple class="form-control" style="height: 100px" name="OBD_select">
                    {% for element in OBD_DTCs %}
                    <option value={{ element[0] }}>{{ element[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>    
        <br />
        
        <div class="row">
            <div class="col-xs-12">
                <label for="UDS_select">UDS DTCs:</label> 
                <select multiple class="form-control" style="height: 100px" name="UDS_select">
                    {% for element in UDS_DTCs %}
                    <option value={{ element[1] }}>{{ element[1]}}  -  {{ element[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>    
        <br />
        
        <div class="row">
            <div class="col-xs-12">
                <label for="signal_select">Signals:</label> 
                <select multiple class="form-control" style="height: 300px" name="signal_select">
                    {% for element in signals %}
                    <option value={{ element[0] }}>{{ element[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>    
        <br />
        
        <input class="btn btn-success" type="submit" value="Search" style="margin-bottom: 50px" />
        
    </fieldset>
</form>   

{% endblock %}




